# Lab | Inferential statistics - T-test & P-value

In [15]:
import pandas as pd
import numpy as np
import math
import statistics
from scipy.stats import ttest_ind, norm

## 1.  We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [16]:
df = pd.read_excel('/Users/spicasumampouw/IronSpica/lab/Unit_7/lab-t-tests-p-values/files_for_lab/machine.xlsx')
print(df)

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [17]:
df.describe().T

             count   mean       std   min   25%   50%     75%   max
new_machine   10.0  42.14  0.683455  41.0  41.8  42.2  42.625  43.2
old_machine   10.0  43.23  0.749889  41.7  42.8  43.4  43.750  44.1

In [61]:
sample_mean1 = df["new_machine"].mean()
sample_mean2 = df["old_machine"].mean()
sample_std1 = df["new_machine"].std()
sample_std2 = df["old_machine"].std()
n1 = len(df["new_machine"])
n2 = len(df["old_machine"])

pop_mean = df["new_machine"].mean()+df["old_machine"].mean()
pop_std = df["new_machine"].std()+df["old_machine"].std()
n = len(df["new_machine"])+len(df["old_machine"])

statistic1 = (sample_mean1 - pop_mean)/(pop_std/math.sqrt(n))
statistic2 = (sample_mean2 - pop_mean)/(pop_std/math.sqrt(n))

In [62]:
print("Statistic1 is: ", statistic1)
print("Statistic2 is: ", statistic2)

Statistic1 is:  -134.8806821799226
Statistic2 is:  -131.47980446592499

In [63]:
result_nm = norm.rvs(loc=sample_mean1, scale=sample_std1, size=n1)
result_om = norm.rvs(loc=sample_mean2, scale=sample_std2, size=n2)

In [64]:
print(result_nm, "\n")
print(result_om)

[41.16912636 42.7804341  41.83049697 41.84900104 41.42524585 43.18153511
 41.865567   42.40788018 42.23398789 42.2897537 ]

[41.1795803  42.57820968 43.8178388  42.7216277  42.59886934 44.33333382
 43.12462427 44.19597322 42.80296527 42.53386869]

In [66]:
print(f"We accept the null hypothesis because: {ttest_ind(result_nm, result_om)}.")
print("And we can say with high level of confidence that we have enough evidence to consider the null hypothesis.")

We accept the null hypothesis because: Ttest_indResult(statistic=-2.5130521559851178, pvalue=0.021710467320837187).
And we can say with high level of confidence that we have enough evidence to consider the null hypothesis.

## 2. An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances.
   Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file `files_for_lab/student_gpa.txt`.
   At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

   Test statistics can be calculated as: [link to the image - Test statistics calculation for Unpooled Variance Case](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.04/7.04-unpooled_variances.png)

   Degrees of freedom is `(n1-1)+(n2-1)`.

In [23]:
df1 =pd.read_excel("/Users/spicasumampouw/IronSpica/lab/Unit_7/lab-t-tests-p-values/files_for_lab/student_gpa.xlsx")
df1

    sophomores  juniors  Unnamed: 2
0         3.04     2.56         NaN
1         1.71     2.77         NaN
2         3.30     2.70         NaN
3         2.88     3.00         NaN
4         2.11     2.98         NaN
5         2.60     3.47         NaN
6         2.92     3.26         NaN
7         3.60     3.20         NaN
8         2.28     3.19         NaN
9         2.82     2.65         NaN
10        3.03     3.00         NaN
11        3.13     3.39         NaN
12        2.86     2.58         NaN
13        3.49      NaN         NaN
14        3.11      NaN         NaN
15        2.13      NaN         NaN
16        3.27      NaN         NaN

In [24]:
df1 = df1.drop(columns="Unnamed: 2")

In [25]:
df1.describe().T

            count      mean       std   min  25%   50%   75%   max
sophomores   17.0  2.840000  0.519832  1.71  2.6  2.92  3.13  3.60
juniors      13.0  2.980769  0.309259  2.56  2.7  3.00  3.20  3.47

In [26]:
sample_mean_ex1 = df1["sophomores"].mean()
sample_mean_ex2 = df1["juniors"].mean()
sample_std_ex1 = df1["sophomores"].std()
sample_std_ex2 = df1["juniors"].std()
n_ex1 = len(df1["sophomores"])
n_ex2 = len(df1["juniors"])

In [27]:
result_s = norm.rvs(loc=sample_mean_ex1, scale=sample_std_ex1, size=n_ex1)
result_j = norm.rvs(loc=sample_mean_ex2, scale=sample_std_ex2, size=n_ex2)

In [28]:
print(f"We accept the null hypothesis because: {ttest_ind(result_s, result_j)}.")

We accept the null hypothesis because: Ttest_indResult(statistic=-2.0150645185024647, pvalue=0.052363606866640794).