# Lab | Inferential statistics - T-test & P-value

## 1.  We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [10]:
pip install odfpy

Collecting odfpy
  Downloading odfpy-1.4.1.tar.gz (717 kB)
Requirement already satisfied: defusedxml in c:\users\diebl\appdata\local\programs\python\python39\lib\site-packages (from odfpy) (0.7.1)
Using legacy 'setup.py install' for odfpy, since package 'wheel' is not installed.
Installing collected packages: odfpy
    Running setup.py install for odfpy: started
    Running setup.py install for odfpy: finished with status 'done'
Successfully installed odfpy-1.4.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\diebl\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [23]:
import pandas as pd
import numpy as np
from statistics import math
from scipy.stats import ttest_ind, norm
import warnings
warnings.filterwarnings('ignore')

In [19]:
data = pd.read_excel('machine.ods')
data

    ■New machine       Old machine
0               42.1          42.7
1               41.0          43.6
2               41.3          43.8
3               41.8          43.3
4               42.4          42.5
5               42.8          43.5
6               43.2          43.1
7               42.3          41.7
8               41.8          44.0
9               42.7          44.1

Hypothesis:  

Null hypothesis H0 :  the new machine does not pack faster

Alternate hypothesis Ha: the new machine packs faster

Significance level = 0.05

In [21]:
data.describe()

        ■New machine       Old machine
count          10.000000     10.000000
mean           42.140000     43.230000
std             0.683455      0.749889
min            41.000000     41.700000
25%            41.800000     42.800000
50%            42.200000     43.400000
75%            42.625000     43.750000
max            43.200000     44.100000

In [22]:
# old machine
o_samples = 10
o_sample_mean = 43.23
o_sample_std = 0.749889

# new machine
n_samples = 10
n_sample_mean = 42.14
n_sample_std = 0.683455

In [24]:
# create the samples
old_machine = norm.rvs(loc=o_sample_mean, scale=o_sample_std, size=o_samples)
new_machine = norm.rvs(loc=n_sample_mean, scale=n_sample_std, size=n_samples)

In [25]:
#create the t-test
ttest_ind(old_machine, new_machine)

Ttest_indResult(statistic=4.805718876680883, pvalue=0.00014161913493665636)

p-value is below 0.05 therefore we can reject the null hypothesis and conclude that new machine and faster packing time are correlated.   


Degrees of freedom is (n1-1)+(n2-1) = 18

t-critical for DF = 18 and A =0.05 -> 1.734

t-statistic = 4.80 > t-critical therefore we can also reject the null hypothesis based on this score.

## 2. An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances.
   Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file `files_for_lab/student_gpa.txt`.
   At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

   Test statistics can be calculated as: [link to the image - Test statistics calculation for Unpooled Variance Case](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.04/7.04-unpooled_variances.png)

   Degrees of freedom is `(n1-1)+(n2-1)`.

H0 = the means of sophomores and junior do not differ  
HA = the means of sophomores and junior differ  


Significance level = 0.05   


Degrees of freedom is (n1-1)+(n2-1) = 16 + 12 = 28

In [26]:
df = pd.read_excel('student_gpa.ods')
df

    Sophomores    Juniors
0         3.04       2.56
1         1.71       2.77
2         3.30       2.70
3         2.88       3.00
4         2.11       2.98
5         2.60       3.47
6         2.92       3.26
7         3.60       3.20
8         2.28       3.19
9         2.82       2.65
10        3.03       3.00
11        3.13       3.39
12        2.86       2.58
13        3.49        NaN
14        3.11        NaN
15        2.13        NaN
16        3.27        NaN

In [27]:
df.describe()

       Sophomores    Juniors
count   17.000000  13.000000
mean     2.840000   2.980769
std      0.519832   0.309259
min      1.710000   2.560000
25%      2.600000   2.700000
50%      2.920000   3.000000
75%      3.130000   3.200000
max      3.600000   3.470000

In [28]:
# sophomore
s_samples = 17
s_sample_mean = 2.84
s_sample_std = 0.519832

# junior
j_samples = 13
j_sample_mean = 2.98
j_sample_std = 0.309259

In [29]:
# create the samples
sophomore = norm.rvs(loc=s_sample_mean, scale=s_sample_std, size=s_samples)
junior = norm.rvs(loc=j_sample_mean, scale=j_sample_std, size=j_samples)

In [30]:
#create the t-test
ttest_ind(sophomore, junior)

Ttest_indResult(statistic=-0.8294154706836792, pvalue=0.4138847554909425)

p-value is above 0.05 therefore we cannot reject the null hypothesis. Our conclusion is that the means of the students does not depend on the year of university.


Degrees of freedom is (n1-1)+(n2-1) = 28

t-critical for DF = 28 and A =0.05 -> 1.701

t-statistic = - 0.82 < t-critical therefore we cannot reject the null hypothesis based on this score.