# Lab | Inferential statistics - T-test & P-value

## 1.  We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [6]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
import statistics as st

In [18]:
data = pd.read_excel(r"files_for_lab\machine.xlsx")
print(data)

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [19]:
data.columns = ['new_machine', 'old_machine']
data

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [26]:
new_mean = data["new_machine"].mean(axis=0)
old_mean = data["old_machine"].mean(axis=0)

In [27]:
new_mean

42.14

In [28]:
old_mean

43.230000000000004

#### null hypothesis : new machine = old machine 

#### alternative hypothesis: new machine < old machine

In [22]:
new = data.new_machine.tolist()
new

[42.1, 41.0, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7]

In [23]:
old = data.old_machine.tolist()
old

[42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44.0, 44.1]

In [24]:
ttest_ind(old, new)

Ttest_indResult(statistic=3.3972307061176026, pvalue=0.0032111425007745158)

#### The p-value for our t-stat is 0.0032. This is less than our alpha level of 0.05 meaning we can reject the null hypothesis

## 2. An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances.
   Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file `files_for_lab/student_gpa.txt`.
   At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

   Test statistics can be calculated as: [link to the image - Test statistics calculation for Unpooled Variance Case](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.04/7.04-unpooled_variances.png)

   Degrees of freedom is `(n1-1)+(n2-1)`.